.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  background: white;
  z-index: 999;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  &__left {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__right {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__nav-toggle {
    display: inline-block;
    margin-right: 40px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    img {
      transition: all 0.15s ease-out;
    }
    &:hover {
      img {
        opacity: 0.8;
      }
    }
    &:active {
      img {
        opacity: 0.6;
      }
    }
  }
  &__logo {
    display: inline-block;
    img {
      display: inline-block;
      max-width: 100%;
      transition: all 0.15s ease-out;
    }
    &:hover {
      img {
        opacity: 0.8;
      }
    }
    &:active {
      img {
        opacity: 0.6;
      }
    }
  }
  &__social {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        margin: 0 5px;
        img {
          transition: all 0.15s ease-out;
        }
        &:hover {
          img {
            opacity: 0.8;
          }
        }
        &:active {
          img {
            opacity: 0.6;
          }
        }
      }
    }
  }
  &__info {
    display: inline-block;
    padding-left: 50px;
    text-align: right;
    font-family: "Proxima Nova";
    font-size: 18px;
    line-height: 24px;
    color: #4d4d4d;
    font-weight: 400;
    a {
      color: #4d4d4d;
      transition: all 0.15s ease-out;
      &:hover,
      &:focus,
      &:active {
        color: #8963a6;
        text-decoration: none;
        outline: none;
      }
    }
    div:first-child {
      margin-bottom: 15px;
    }
    strong {
      color: #8963a6;
      font-weight: 700;
    }
  }
  &__nav {
    display: block;
    width: 100%;
    box-shadow: 0 0 16px rgba(49, 0, 90, 0.21);
    background-color: #bc8de4;
    .container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      padding: 12px 0;
      background: transparent;
    }
    a {
      display: inline-block;
      padding: 6px 4px;
      border-bottom: 2px solid transparent;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 400;
      transition: all 0.15s ease-out;
      &:hover,
      &:focus {
        border-color: white;
        text-decoration: none;
      }
    }
  }
  &__nav_active-link {
    border-color: white !important;
    text-decoration: none;
  }
}

.main-slider {
  display: block;
  height: 100vh;
  &__item {
    display: flex !important;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
  }
  &__item_cover {
    padding: 15px;
  }
  &__content {
    max-width: 720px;
    padding: 20px;
    position: relative;
  }
  &__content_center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &__title {
    display: block;
    margin-bottom: 45px;
    color: #ffffff;
    font-family: Aquarelle;
    font-size: 68px;
    font-weight: 400;
    line-height: 0.9;
  }
  &__description {
    display: block;
    margin-bottom: 50px;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
  }
  &__button {
    display: inline-block;
    padding: 12px 46px;
    outline: none;
    border: none;
    border-radius: 999rem;
    box-shadow: 0 24px 29px rgba(157, 102, 199, 0.67);
    background-color: #f6e23d;
    color: #340359;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 400;
    transition: all 0.15s ease-out;
    &:hover {
      background-color: #f6e23d;
      box-shadow: none;
      text-decoration: none;
    }
  }
}

.main-title {
  display: block;
  width: 100%;
  margin-bottom: 60px;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.main-about {
  background: #ffffff url('../images/main_bg.png') repeat center;
  padding: 100px 0 50px 0;
  &__description {
    display: block;
    max-width: 975px;
    margin: 0 auto 30px auto;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    p {
      margin-bottom: 50px;
    }
  }
  &__card {
    margin-bottom: 70px;
    &:last-child {
      margin-bottom: 0;
    }
    img {
      display: block;
      max-width: 80%;
      margin: 0 auto;
    }
  }
  &__card-title {
    display: block;
    margin-bottom: 50px;
    font-family: "Proxima Nova";
    font-size: 30px;
    line-height: 28px;
    color: #000000;
  }
  &__card-description {
    color: #363636;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
  }
  &__card-title-highcolor {
    display: inline-block;
    position: relative;
    font-weight: 700;
    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 50px;
      left: 0;
      width: 60px;
      height: 5px;
    }
  }
  &__card-title-highcolor_blue {
    color: #0b92be;
    &:after {
      background: #0b92be;
    }
  }
  &__card-title-highcolor_orange {
    color: #df520d;
    &:after {
      background: #df520d;
    }
  }
  &__card-title-highcolor_pink {
    color: #c894ec;
    &:after {
      background: #c894ec;
    }
  }
  &__card-title-highcolor_green {
    color: #97d18c;
    &:after {
      background: #97d18c;
    }
  }
  &__card-title-highcolor_light-blue {
    color: #03a9f4;
    &:after {
      background: #03a9f4;
    }
  }
}

.main-features-body {
  padding: 100px 0;
  background: #fef0ee;
  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  &__card-img {
    display: inline-block;
    flex: 0 0 auto;
    width: 260px;
    height: 280px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 12px 21px rgba(120, 89, 117, 0.31);
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px 0 0 10px;
      object-fit: cover;
    }
  }
  &__card-description {
    display: inline-block;
    flex: 1 1 auto;
    min-height: 280px;
    padding: 40px 60px 60px 60px;
    box-shadow: 0 12px 21px rgba(120, 89, 117, 0.31);
    border-radius: 0 10px 10px 0;
    background: #ffffff url('../images/card_bg.png') no-repeat right;
    background-size: auto 100%;
  }
  &__card-title {
    display: block;
    margin-bottom: 25px;
    color: #9e60c9;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 700;
  }
  &__card-text {
    font-family: "Proxima Nova";
    font-size: 16px;
    color: #363636;
    font-weight: 300;
    text-align: justify;
    .morelink {
      float: right;
      color: #9e60c9;
      font-weight: 400;
      text-decoration: underline;
      transition: all 0.15s ease-out;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__card-text_short {
    font-family: "Proxima Nova";
    font-size: 16px;
    color: #363636;
    font-weight: 300;
    text-align: justify;
    .morelink {
      float: right;
      color: #9e60c9;
      font-weight: 400;
      text-decoration: underline;
      transition: all 0.15s ease-out;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.main-soul {
  padding: 100px 0;
  background: #f5f4eb url('../images/main_bg.png') repeat center;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 555px;
    margin: 0 7px 14px 7px;
    box-shadow: 0 12px 21px rgba(120, 89, 117, 0.31);
    border-radius: 10px;
    background-color: #ffffff;
  }
  &__card-img {
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
    img {
      display: block;
      width: 100%;
      border-radius: 10px 10px 0 0;
      height: 295px;
      object-fit: cover;
    }
  }
  &__card-description {
    padding: 50px 30px 20px 30px;
  }
  &__card-title {
    display: block;
    margin-bottom: 30px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  &__card-text {
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    p {
      margin-bottom: 30px;
    }
  }
}

.main-health {
  padding: 100px 0;
  background: #ffffff url('../images/bg_2.png') no-repeat center;
  background-size: cover;
  &__card {
    margin-bottom: 70px;
    &:last-child {
      margin-bottom: 0;
    }
    img {
      display: block;
      max-width: 80%;
      margin: 0 auto;
    }
  }
  &__card-title {
    display: block;
    margin-bottom: 30px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 700;
  }
  &__card-description {
    color: #000000;
    font-size: 16px;
    font-family: "Proxima Nova";
    font-weight: 300;
    text-align: justify;
  }
}

.main-brain {
  padding: 100px 0;
  background: #fef0ee;
  &__text {
    margin-bottom: 20px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    p {
      margin-bottom: 30px;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 360px;
    margin-bottom: 20px;
    img {
      display: block;
      width: 100%;
      height: 160px;
      margin-bottom: 25px;
      object-fit: cover;
    }
  }
  &__card-text {
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
  }
}

.main-schedule {
  background: #ffffff url('../images/main_bg.png') repeat center;
  padding: 100px 0 20px 0;
  &__title {
    display: block;
    margin: 40px 0 60px 0;
    width: 100%;
    text-align: center;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 48px;
    font-weight: 700;
  }
  &__big-image {
    display: block;
    max-width: 100%;
    margin: 0 auto 80px;
  }
  &__button {
    display: block;
    margin: 0 auto 40px auto;
    padding: 12px 46px;
    outline: none;
    border: none;
    border-radius: 999rem;
    box-shadow: 0 13px 65px rgba(124, 45, 184, 0.7);
    background-color: #8963a6;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 700;
    transition: all 0.15s ease-out;
    &:hover {
      background-color: #8963a6;
      box-shadow: none;
      text-decoration: none;
    }
  }
}

.main-specs {
  padding: 100px 0 30px 0;
  background: #fef0ee url('../images/spec_bg.png') no-repeat right;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: flex-start;
    width: 245px;
    margin-bottom: 65px;
    text-align: center;
  }
  &__card-img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 210px;
      border-radius: 999rem;
      object-fit: contain;
      object-position: center;
    }
  }
  &__card-title {
    display: block;
    margin-bottom: 20px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  &__card-text {
    display: block;
    color: #5d5c5c;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}

.main-map {
  width: 100%;
  .container {
    position: relative;
  }
  &__block {
    position: absolute;
    right: 0;
    top: 150px;
    max-width: 535px;
    padding: 70px 70px 50px 80px;
    background: #fef0ee url('../images/pre_footer_bg.png') no-repeat center;
    background-size: cover;
    box-shadow: 0 13px 65px rgba(185, 185, 185, 0.7);
    border-radius: 10px;
    z-index: 1;
  }
  &__block-title {
    display: block;
    margin-bottom: 20px;
    color: #4a4a4b;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 700;
  }
  &__block-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    a {
      color: #4d4d4d;
      transition: all 0.15s ease-out;
      &:hover,
      &:focus,
      &:active {
        color: #8963a6;
        text-decoration: none;
        outline: none;
      }
    }
    img {
      display: inline-block;
      width: 20px;
      height: 20px;
      object-fit: contain;
      margin-right: 15px;
    }
    span {
      font-family: "Proxima Nova";
      font-size: 20px;
      color: #4d4d4d;
      font-weight: 400;
    }
    strong {
      font-family: "Proxima Nova";
      font-size: 20px;
      color: #8963a6;
      font-weight: 700;
    }
  }
}

.main-footer {
  width: 100%;
  background: white;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  &__left {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__middle {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  &__right {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__nav-toggle {
    display: inline-block;
    margin-right: 40px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    img {
      transition: all 0.15s ease-out;
    }
    &:hover {
      img {
        opacity: 0.8;
      }
    }
    &:active {
      img {
        opacity: 0.6;
      }
    }
  }
  &__logo {
    display: inline-block;
    img {
      display: inline-block;
      max-width: 100%;
      transition: all 0.15s ease-out;
    }
    &:hover {
      img {
        opacity: 0.8;
      }
    }
    &:active {
      img {
        opacity: 0.6;
      }
    }
  }
  &__social {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        margin: 0 5px;
        img {
          transition: all 0.15s ease-out;
        }
        &:hover {
          img {
            opacity: 0.8;
          }
        }
        &:active {
          img {
            opacity: 0.6;
          }
        }
      }
    }
  }
  &__info {
    display: inline-block;
    padding-left: 50px;
    text-align: right;
    font-family: "Proxima Nova";
    font-size: 18px;
    line-height: 24px;
    color: #4d4d4d;
    font-weight: 400;
    a {
      color: #4d4d4d;
      transition: all 0.15s ease-out;
      &:hover,
      &:focus,
      &:active {
        color: #8963a6;
        text-decoration: none;
        outline: none;
      }
    }
    div:first-child {
      margin-bottom: 15px;
    }
    strong {
      color: #8963a6;
      font-weight: 700;
    }
  }
  &__who {
    margin-top: 10px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
  }
}

.call-modal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto 0 auto;
  &__title {
    display: block;
    margin-bottom: 30px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 400;
    text-align: center;
  }
  &__button {
    display: block;
    margin: 20px auto 40px auto;
    padding: 12px 46px;
    outline: none;
    border: none;
    border-radius: 999rem;
    box-shadow: 0 13px 65px rgba(124, 45, 184, 0.7);
    background-color: #8963a6;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 700;
    transition: all 0.15s ease-out;
    &:hover {
      background-color: #8963a6;
      box-shadow: none;
      text-decoration: none;
    }
  }
  input {
    display: block;
    width: 340px;
    padding: 18px 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #dadada;
    background-color: #ffffff;
    color: #363636;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    transition: all 0.15s ease-out;
    &:focus {
      border: 1px solid #d1b5e7;
      outline: none;
    }
  }
}