@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .main-header {
    position: relative;
    top: auto;
  }
  .main-header .container {
    justify-content: space-around;
  }
  .main-header__logo {
    margin-bottom: 15px;
    img {
      max-width: 220px;
    }
  }
  .main-header__nav .container {
    flex-flow: column nowrap;
    align-items: center;
  }
  .main-header__nav a {
    padding: 4px;
  }
  .main-header__right {
    justify-content: space-around;
  }
  .main-slider__title {
    margin-bottom: 30px;
    font-size: 36px;
  }
  .main-slider__description {
    margin-bottom: 30px;
  }
  .main-about {
    padding: 20px 0;
  }
  .main-title {
    font-size: 32px;
    margin-bottom: 25px;
  }
  .main-about__description p {
    margin-bottom: 20px;
  }
  .main-about__card-title-highcolor:after {
    top: 75px;
  }
  .main-about__card {
    margin-bottom: 30px;
  }
  .main-features-body__card {
    flex-flow: column nowrap;
  }
  .main-features-body__card-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    img {
      border-radius: 10px 10px 0 0;
    }
  }
  .main-features-body__card-description {
    padding: 20px;
    border-radius: 0 0 10px 10px;
  }
  .main-features-body {
    padding: 20px 0;
  }
  .main-soul {
    padding: 20px 0;
  }
  .main-soul__card-description {
    padding: 20px;
  }
  .main-health {
    padding: 20px 0;
  }
  .main-health__card-title {
    margin-bottom: 10px;
  }
  .main-health__card {
    margin-bottom: 30px;
  }
  .main-brain {
    padding: 20px 0;
  }
  .main-schedule {
    padding: 20px 0;
  }
  .main-schedule__title {
    margin: 20px 0;
    font-size: 28px;
  }
  .main-schedule__big-image {
    margin-bottom: 20px;
  }
  .main-specs {
    padding: 20px 0;
  }
  .main-specs__cards {
    justify-content: space-around;
  }
  .main-specs__card {
    margin-bottom: 30px;
  }
  .main-map__block {
    position: relative;
    margin: 20px 0;
    top: auto;
    right: 0;
    width: 100%;
    padding: 20px;
  }
  iframe {
    height: 300px !important;
  }
  .main-footer .container {
    justify-content: space-around;
  }
  .main-footer__info {
    margin-top: 30px;
    padding: 0;
    text-align: center;
  }
  .main-header__info div:first-child {
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .main-header__info {
    padding: 0;
    text-align: center;
  }
  .animated {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
  .wow {
    visibility: visible !important;
  }
  .main-slider {
    height: auto;
    padding-top: 0;
  }
  .main-slider__item {
    background-size: 100% auto !important;
    height: 100% !important;
    min-height: 400px !important;
  }
  .main-slider__content_center {
    padding-top: 0;
  }
  .slick-dots {
    z-index: 100;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}