.container:before {
  display: none;
  content: none;
}

.container:after {
  display: none;
  content: none;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 40px;
}

.slick-dots li button::before {
  width: 14px;
  height: 14px;
  background: #000000;
  border-radius: 999rem;
  opacity: 0.18;
  content: '';
}

.slick-dots li.slick-active button:before {
  opacity: 0.5;
}

.modal-content {
  box-shadow: none;
  border: none;
  border-radius: 10px;
}

.modal-header {
  border-bottom: none;
}

.close {
  font-size: 42px;
}

.wow {
  visibility: hidden;
}